<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body onload="drawPotato()">
        <div class="topnav">
          <a href="/">Home</a>
          <a class="active" href="/about">About</a>
        </div>
         <h1>Learn about us!</h1>
         <li>Who are we?</li>
         <p>We are students at the New Jersey Institute of Technology enrolled in CS 490 section 005.</p>
         <li>What is this website?</li>
         <p>This website is an exciting and meaningful opportunity for our section to collaborate. For some of us it is the first time collaborating using git.</p>
         <ol>
    </body>
</html>
