<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        {% include 'backgoundPotatoes.html' %}
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/about">About</a>
          <a href="/history">History</a>
          <a href="/potato">potato</a>
          <a href="/facts">Facts</a>
        </div>
         <h1>Learn about us!</h1>
         <li>Who are we?</li>
         <p>We are students at the New Jersey Institute of Technology enrolled in CS 490 section 005.</p>
         <li>What is this website?</li>
         <p>This website is an exciting and meaningful opportunity for our section to collaborate. For some of us it is the first time collaborating using git.</p>
         <li>What's that funky beat playing on the home page?</li>
         <p>That song is "Mashed Taters (Potatoes)" by "eNiGMa the MoNKey". You can find more music by them here: https://www.albinoblacksheep.com/flash/taters</p>
         <br> McDonald's fries are the best when fresh but five guys gives you a lot of fries. </br>
         <h1>Curious on how you can power a mouse's tiny little home?</h1>
         <iframe width="420" height="345" src="https://www.youtube.com/embed/FITxr6bJmd8"></iframe>
    </body>
</html>