<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        {% include 'backgoundPotatoes.html' %}
        <div class="topnav">
          <a href="/">Home</a>
          <a  href="/about">About</a>
          <a class="active" href="/history">History</a>
          <a href="/potato">potato</a>
        </div>
         <h1>Brief History of the Potato</h1>
         <embed name="Potatoes" src="/static/taters.mp4" hidden="true" autostate="true">
         <li>Condensed and paraphrased from Wikipedia: <a href = "https://en.wikipedia.org/wiki/History_of_the_potato"> URL</a> 
         </li>
         <p>Potatoes were originally domesticated as early as 2500 B.C. Potatoes were used by the Inca Empire (South America).</p>
         <p>The Columbian exchange past 1588, carried multiple goods from the American continent. One of this goods was the potato. </p>
         <p>The potato was a staple crop of Ireland many years after the Columbian Exchange. In 1845, potatoes were infested with a disease that ruined most of the crop. This event lasted 7 years.</p>
         <p>Nearly one million people left Ireland towards the United States, Great Britain, Canada, and elsewhere. Many irish communities can trace their origin to this diaspora.</p>
         <h2>Fun Fact of the Potatoes</h2>
         <p>* The world saw the largest potato ever grown in 2010 when farmer Peter Glazebrook showed the 8lb 4oz wonder from his Hallam back garden in Nottinghamshire.</p>
         <p>* Mr. Potato Head was one of the first children’s toy to be advertised on U.S. TV.</p>
         <ol>
             
    </body>
</html>