<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body onload="drawPotato()">
        <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#about">About</a>
        </div>
        <h1>I'm proud of what we've created together!</h1>
        
        
        10 Things you can create with <i>potato</i>:
        <ol>
            <li>Hash Browns</li>
            <li>Tater Tots</li>
            <li>French Fries</li>
            <li>Waffle fries</li>
            <li>Baked Potato</li>
            <li>Potato Soup</li>
            <li>Scalloped Potatoes</li>
            <li>Potato Chips</li>
            <li>Potato Pierogi</li>
            <li>Mashed Potatoes</li>
        </ol>
        <div id='potatoContainer'>
            {% for i in range(numPotatoes) %}
                <img src={{ url_for('static', filename='potato.png') }} 
                width={{ potatoes[i].size }} height={{ potatoes[i].size }}
                style="
                    opacity: {{ potatoes[i].opacity }}; 
                    top: {{ potatoes[i].position.y }}; 
                    left: {{ potatoes[i].position.x }};
                    transform: rotate({{ potatoes[i].rotation}});
                "
                class='potatoImage' />
            {% endfor %}
        </div>
    </body>
</html>
