<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        <h1>I'm proud of what we've created together!</h1>
        
        
        10 Things you can create with <i>potato</i>:
        <ol>
            <li>Hash Browns</li>
            <li>Tater Tots</li>
            <li>French Fries</li>
            <li>Waffle fries</li>
            <li>Baked Potato</li>
            <li>Potato Soup</li>
            <li>Scalloped Potatoes</li>
            <li>Potato Chips</li>
            <li>Potato Pierogi</li>
            <li>Mashed Potatoes</li>
        </ol>
    </body>
</html>
